/*-------------fonts&textos-------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:500,700,900,400,200,300,600,100');

      h1{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        margin-right: 10px;

      }

      h3{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

      }
      h4{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
      }

      p{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        padding-right: 30px;

      }

      a {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        color: inherit;
      }

      html,  body {

        margin: 0;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        height: 100%;
      }

/*-------------colors bg-------------*/

      .blackbg{
        background-color: #000000;
      }

      .whitebg{
        background-color: #ffffff;
      }

      .pinkbg{
        background-color: #FF2CDC;
      }

      .bluebg{
        background-color: #1FC0FF;
      }

      .yellowbg{
        background-color: #FFF72B;
      }

      .greenbg{
        background-color: #5DFF2C;
      }

      .redbg{
        background-color: #FF0E1D;
      }

/*-------------font colors-------------*/

      .fontred{
        color: #FF2500;
        font-size: 13px;
        font-weight: bold;

      }

      .fontwhite{
        color: #ffffff !important;
      }

      .fontblack{
        color: #000000 !important;
      }
/*-------------floats-------------*/

      .right{
        float: right;
      }

      .left{
        float: left;
      }

/*-------------modules-------------*/


      .inliner{
        display: inline-block;

      }

      .img-mod{
        display: inline-block;
        align-content: center;

      }

      .inline-mod{
        display: inline-block;
        margin: 20px;

      }

      .drips-bg{
        background-image: url(img/drips.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size: auto;
      }

/*media-query--------*/
          @media only screen and (max-device-width: 800px) {
            .drips-bg{
              background-image: none;

          }
      }
/*media-query--------*/


      .starthead{
        background-image: url(img/bg_patron.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        padding: 5px 20px 5px 20px;
        margin: 0;
        top: 0;
        width: 100%;
        height: 300px;
      }
/*media-query--------*/
    @media only screen and (max-device-width: 480px) {
      .starthead{
        background-attachment: scroll;

    }
}
/*media-query--------*/

      .boxy{
        margin: 0;
        top: 0;
        width: 100%;

      }

      .stuff{
        float: left;
        margin: 0;
        padding: 30px 30px 30px 20px;
        top: 0;
        width: 100%;
        justify-content: space-around;
      }

      .rrss{
        width: 30px;
        margin: 20px;
        padding: 20px;
        height: 100px;


      }

      .product{
        display: flex;
        width: 600px;
        height: 200px;
      }
      .description{
        display: inline-block;
        padding: 0 25px 0 20px;
      }
      /*media-query--------*/
                @media only screen and (max-device-width: 480px) {
                  .product{
                    display: block;
                    width: 200px;
                    height: auto;
                  }
                  .product p{
                    font-size: 15px !important;
                    line-height: 18px !important;
                    padding-right: 0;
                  }
                  .product h3{
                    margin-bottom: 10px;
                  }
                  .description{
                    padding: 0 15px 20px 20px;
                  }
            }
      /*media-query--------*/

      .imgprod{
        display: inline-block;
        width: 200px;
        height: 200px;
      }
